*{
    margin: 0px;
    padding: 0px;
}

body{
    background:url("C:/Users/hamzat fauziat/Desktop/Faculty website/images/IMG_E4589.JPG");
    background-size: cover;
    position:relative;
    height: 100vh;
    background-attachment: fixed;
    -webkit-background-size: cover;
}

.wrapper{
    width:1170px;
    margin: 0px;
    
}


.navbar > li{
    text-decoration: none;
    display: inline;
}


.navbar > li> a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 17px;
    border: 1px solid #fff;
    margin: 5px;
}



.navbar li a:hover{
    background-color: #fff;
    color: #333;

}


.logo a{
    width: auto;
    float: left;
    height: auto;
    color:#fff;
    border: 2px solid #fff;
    text-decoration: none;
    font-size: 22px;
    margin: 10px 5px 5px 20px;
    padding: 5px;
    border-radius: 10px 0px 10px 0px;


}

.welcome-text{
    
    position: absolute;
    width: 600px;
    height: 300px;
    margin: 15% 30%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
}

.welcome-text a{
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 14px;
    color: black;
    display: inline-block;
    margin: 20px 0px 0px 0px;
    background-color: white;


}

.welcome-text a:hover{
    background-color: #c77c0cd3;
    border-color:#c77c0cd3 ;

}

#active{
    background-color: white;
    color: black;
}