*{
    margin: 0px;
    padding: 0px;
}


body{
    background:url("C:/Users/hamzat fauziat/Desktop/Faculty website/images/IMG_E4587.JPG");
    background-color: aquamarine;
    background-size: cover;
    position:relative;
    height: 100vh;
    background-attachment: fixed;
    -webkit-background-size: cover;
}

.wrapper{
    width:1170px;
    margin: 0px;
    
}

.navbar{
    float: right;
    list-style: none;
    color: white;
    margin-left: 200    px;
    margin-top: 23px;

}

.navbar > li{
    text-decoration: none;
    display: inline;
}


.navbar > li> a{
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 17px;
    border: 1px solid #fff;
    margin: 5px;
}



.navbar li a:hover{
    background-color: #fff;
    color: #333;

}


.logo a{
    width: auto;
    float: left;
    height: auto;
    color:#fff;
    border: 2px solid #fff;
    text-decoration: none;
    font-size: 22px;
    margin: 10px 5px 5px 20px;
    padding: 5px;
    border-radius: 10px 0px 10px 0px;


}

.wrap{
    width: 300px;
    border-radius:20px;
    margin: auto;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    padding: 40px 40px 40px 40px;
    color: #fff;
    transform: translate(-50%,-50%);
    margin-top: 200px;
    margin-left: 50%;
}

h1{
    text-align: center;
    color: #fff;
    margin-top: 30px;
    margin-left: 534px;
    margin-bottom: 30px;
    display: inline-block;
    font-size: 40px;
    
    
}

input[type=text],input[type=Department],input[type=email]{
    width: 98%;
    box-sizing: border-box;
    padding: 12px 12px;
    background: transparent;
    outline: none;
    border: 2px solid #3498db;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.25s;
    
    
}

input[type=text]:focus,input[type=Department]:focus,input[type=email]:focus{
    padding: 0px 3px 0px;
    border-color: #2ecc72;
}

input[type=submit]{
    width: 100%;
    box-sizing: border-box;
    padding: 10px 0px;
    margin-top: 20px;
    outline: none;
    border: none;
    background: #60adde;
    border-radius: 20px;
    color: #fff;
}

input[type=submit]:hover{
    background: #003;
}


